.list-group {
    border-radius: 0px !important;
    display: flex;

}

@media (max-width: 767px) {
    .filtering-list {
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5px;
    }
    .filtering-list li {
      border-top-width: 1px !important;
    }


  }