.products-container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}

.list-group {
  padding-top: 25px;
  border-radius: 0;
}
/* .products-layout {
  display: flex;
  flex-direction: row;
} */

/* button {
  margin-top: 25px;
  margin-bottom: auto;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgba(21, 26, 42, 0.787);
} */
.card {
  /* width: 250px; */
  /* height: 250px; */
  display: flex;
  width: 250px;
  height: 280px;
  /* padding: 10px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #ccc;
  /* margin: 5px, 20px; */
}

/* .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.card img {
  width: 250px;
  height: 170px;
  object-fit: scale-down;
  margin: 0px;
}
.card > p {
  padding: 10px;
  font-size: 30px;
}
.card:hover {
  box-shadow: 10px 10px 20px #ccc;
}

.form-floating {
  max-width: 500px; /* Change this value to adjust the width */
  margin: 0 auto; /* Center the form horizontally */
}

.form-floating > label {
color: black;
}

.product-search label {
  color: black;
}

.form-group {
  margin-bottom: 10px;
}

.card button {
  border-radius: 0;
  justify-content: center;
}

.product-add {
  display: flex;
  justify-content: center;
}

/* .product-cart-icon{

  width: 5px;
  height: 6px;
  margin: 0px;
} */

/* .orderBtn {
  width: 200px;
  background: orangered;
  border: none;
  cursor: pointer;
}
.orderBtn:hover {
  background: rgb(89, 0, 190);
} */
